.thumbnail img{
	width: 100%;
	
}

.thumbnail{
	padding: 0;
}

.inline{
	display: inline;
}

.groundName{
	text-align: center;
}

.formContain{
	width: 30%;
	margin: 25px auto;
}

.descBox{
	resize: none;
}